:root {
    --blue-0: #e4f0f9;
    --blue-1: #c6e1f3;
    --blue-2: #a5cfed;
    --blue-3: #7db9e5;
    --blue-4: #4a9eda;
    --blue: #0077cc;
    --blue-6: #006bb7;
    --blue-7: #005da0;
    --blue-8: #004d84;
    --blue-9: #00365d;
}

.blue-0 {
    color: var(--blue-0);
}

.blue-1 {
    color: var(--blue-1);
}

.blue-2 {
    color: var(--blue-2);
}

.blue-3 {
    color: var(--blue-3);
}

.blue-4 {
    color: var(--blue-4);
}

.blue {
    color: var(--blue);
}

.blue-6 {
    color: var(--blue-6);
}

.blue-7 {
    color: var(--blue-7);
}

.blue-8 {
    color: var(--blue-8);
}

.blue-9 {
    color: var(--blue-9);
}

.color--blue-0 {
    color: var(--blue-0);
}

.color--blue-1 {
    color: var(--blue-1);
}

.color--blue-2 {
    color: var(--blue-2);
}

.color--blue-3 {
    color: var(--blue-3);
}

.color--blue-4 {
    color: var(--blue-4);
}

.color--blue {
    color: var(--blue);
}

.color--blue-6 {
    color: var(--blue-6);
}

.color--blue-7 {
    color: var(--blue-7);
}

.color--blue-8 {
    color: var(--blue-8);
}

.color--blue-9 {
    color: var(--blue-9);
}

.background-color--blue-0 {
    background-color: var(--blue-0);
}

.background-color--blue-1 {
    background-color: var(--blue-1);
}

.background-color--blue-2 {
    background-color: var(--blue-2);
}

.background-color--blue-3 {
    background-color: var(--blue-3);
}

.background-color--blue-4 {
    background-color: var(--blue-4);
}

.background-color--blue {
    background-color: var(--blue);
}

.background-color--blue-6 {
    background-color: var(--blue-6);
}

.background-color--blue-7 {
    background-color: var(--blue-7);
}

.background-color--blue-8 {
    background-color: var(--blue-8);
}

.background-color--blue-9 {
    background-color: var(--blue-9);
}

.border-color--blue-0 {
    border-color: var(--blue-0);
}

.border-color--blue-1 {
    border-color: var(--blue-1);
}

.border-color--blue-2 {
    border-color: var(--blue-2);
}

.border-color--blue-3 {
    border-color: var(--blue-3);
}

.border-color--blue-4 {
    border-color: var(--blue-4);
}

.border-color--blue {
    border-color: var(--blue);
}

.border-color--blue-6 {
    border-color: var(--blue-6);
}

.border-color--blue-7 {
    border-color: var(--blue-7);
}

.border-color--blue-8 {
    border-color: var(--blue-8);
}

.border-color--blue-9 {
    border-color: var(--blue-9);
}