@import url('./file6.css');
:root {
    --primary: #07c;
    --white: #fff;
    --black: #374047;
}

.text-shadow--initial {
    /* this variable shouldn't be processed by the ponyfill, but should work on other browsers */
    --text-shadow--initial: 1px 1px 1px rgba(0, 0, 0, .5);
    text-shadow: var(--text-shadow--initial);
}

.color--primary {
    color: var(--primary);
}

.color--white {
    color: var(--white);
}

.color--black {
    color: var(--black);
}

.background-color--primary {
    background-color: var(--primary);
}

.background-color--white {
    background-color: var(--white);
}

.background-color--black {
    background-color: var(--black);
}

.border-color--primary {
    border-color: var(--primary);
}

.border-color--white {
    border-color: var(--white);
}

.border-color--black {
    border-color: var(--black);
}